.homeWrapper,
.welcomeTextWrapper {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcomeTextWrapper {
  color: var(--color-text-main);
}

.step {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 5px;
}

.stepNumber {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  background-color: var(--color-navbar-bg);
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.stepText {
  font-size: 1rem;
  line-height: 1.4;
  color: var(--color-text-main);
}

.spotterCall {
  font-weight: 600;
  color: var(--color-text-main);
  font-size: 1.2em;
}

.levelGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
  max-width: 1000px;
}

@media (min-width: 769px) {
  .homeWrapper {
    padding: 50px 100px;
    background-color: white;
  }
}
