.playBarWrapper {
  background-color: var(--color-navbar-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
  text-align: center;
}

.artist {
  text-decoration: none;
  color: white;
}

.timerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.timer {
  font-size: 1.2em;
}

@media (max-width: 768px) {

}
