.charWrapper {
  display: flex;
  background-color: var(--color-button-hover-text);
  gap: 20px;
  position: sticky;
  top: 0;
  padding: 12px 24px;
  border: 2px solid white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  margin: auto;
  justify-content: center;
  width: fit-content;
  color: white;
  margin-bottom: 20px;
}

.singleCharContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.charThumbnail {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.tagged {
  position: relative;
}

.tagged .charThumbnail {
  filter: grayscale(100%);
  opacity: 0.4;
}

.tagged::after {
  content: "✓";
  color: limegreen;
  font-weight: bold;
  font-size: 1.2rem;
  position: absolute;
  bottom: -5px;
  left: 25px;
  border-radius: 50%;
  padding: 2px 6px;
  z-index: 1;
}

.popUpNoMatch {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-navbar-bg);
  padding: 5px;
  z-index: 1000;
  color: white;
  font-weight: bold;
  white-space: nowrap;
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .charWrapper {
    flex-wrap: wrap;
    margin: 10px;
  }
}
