.containerNavBar {
  display: flex;
  align-items: center;
  background-color: var(--color-navbar-bg);
}

.logo {
  width: 300px;
  margin-top: 20px;
}

.containerLogo {
  flex: 1;
  display: flex;
  justify-content: center;
}

.containerBtnLeaderboards {
  padding-right: 80px;
}

.trophyIcon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

@media (max-width: 768px) {
  .logo {
    width: 200px;
  }

  .containerBtnLeaderboards {
    padding-right: 10px;
  }
}
